body{
    font-family:'Montserrat', sans-serif ;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

#hh{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
   
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar-brand{
    font-family: "ubuntu", sans-serif ;
    font-size:  2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem 0;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family:'Montserrat', sans-serif; 
    font-weight: 100;
}

/* DOWNLOAD BUTTON */
.download_button{
    margin: 5% 3% 5% 0;
}

  /* title-image */
.title-image{
    position: absolute;
    width: 20%;
    transform: rotate(25deg);
    right: 25% ;
    
   
}


/* FEATURES SECTION */
#features{
    background-color: #fff;
    padding: 6% 13%;
    position: relative;
    z-index: 1;


}

.fa-custon-design{
    color: #ef8172;
    margin-bottom: 1rem;

   
    
}

.fa-custon-design:hover{
    color: #ff4c68;
}

h3{
    font-family:'Montserrat', sans-serif; 
    font-weight: bold;
}

p{
    color: #8f8f8f;
}

.feature-box{
    padding: 5%;
    text-align: center;
    
}

/* testimonial section */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}

.carousel-item{
    padding: 7% 15%;
}

h2{
    font-family:'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 3rem;
}

.testimonial-pic{
    width: 10%;
    border-radius: 50%;
    padding: 10px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3rem;

}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px 20px;
}

#pricing{
    padding: 90px;
}

.pricing-column{
    padding: 3% 2%;
    text-align: center;
}

.btn-adjust{
    margin-top: 41px;
}

/* media query */  /* media query */
   


/* call to action section */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 100px 220px;
   
}

#cta-text{
    font-family:'Montserrat', sans-serif; 
    font-weight: 900;
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
}


#footer{
    background-color: #fff;
    padding: 7% 15%;
    text-align: center;
}


.faf{
    margin: 30px 10px;
}
  
@media (max-width:1000px){
    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
    #title{
        text-align: centeir;

    }

    #cta-text{
        font-size: 2rem;

    }

}
